{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/motherboard.png')}}); ">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About the Blog </h1>
            <span class="subheading"></span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>
In the modern world, our access to information is unprecedented. You’re practically a Google search and some time-investment away from understanding anything you have a capacity for.  I’m interested in seeing if I can actually change my career with a self-led curriculum of online courses.
        </p>
        <p>
          I created the blog as a project during an online Python course, and thought I should put it to use. After all, a major role of the traditional university is to open your ideas up for collaboration and criticism.
        </p>
        <p>
“If I have seen further it is by standing on the shoulders of Giants” - Isaac Newton 1675
        </p>
        <p>
          The blog is meant simply to be a form of expression, If you find it helpful or hurtful let me know. Let’s not go through it, let’s grow through it.
        </p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}