{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/motherboard.png')}}); ">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About the Blog </h1>
            <span class="subheading"></span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>
The blog is meant to be my 'build-in-public' platform, where I showcase the tech projects I'm currently working on. I am pursuing a self-led curriculum to advance my understanding of programming, software engineering, machine learning, and electronics, with the ultimate goal of working in these disciplines.
        </p>
        <p>
I hope this blog can be helpful not only for me but also for you and others who share similar interests. Thank you for joining me on the journey!
        </p>

      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}