
{% include "header.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}


  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/multiverse.png')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Register</h1>
            <span class="subheading">Join the conversation!</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
       
       {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
      <p>
        *Your email will not be used for any other reason than providing credentials.
        At this point, the site is meant to be used as a portfolio project and is not yet secure.
        It may receive updates in the future, but for now if you'd like to get in touch please follow the
        social media links, or proceed to the contact page.
      </p>
      </div>
    </div>
  </div>

{% include "footer.html" %}
{% endblock %}